@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 50px;
}
header h1{
    text-align: center;
    font-family: var(--font1);
}
header p, a{
    text-align: center;
    color: white;
    text-decoration: none;
}
header a:hover{
    color:turquoise;
    text-decoration: underline;
}
main{

}

pre{
    font-family: var(--font2);
    font-size: 1.5em;
}

pre.transp{
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    width: 400px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

section{
    height: 100%;
}

article#q1{
    background: violet url('../imagens/background001.jpg') center center no-repeat fixed;
    background-size: cover;

}
article#q2{
    background: violet url('../imagens/background002.jpg') center center no-repeat fixed;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px; 
    padding: 10px;
}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    color: turquoise;
    text-decoration: underline;
}